.taglist {
  display: inline;
  list-style: none;
  margin-left: 0;
}

.taglist li {
  display: inline;
}

.taglist li:after {
  content: ", ";
}

.taglist li:last-child:after {
  content: "";
}

.taglist li:nth-last-child(2):after {
  content: " and ";
}



li.tree::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #666;
    top: 11px;
    width: 30px;
    left: -17px;
}

ul.tree.child::before {
    content: '';
    position: absolute;
    width: 1px;
    background: #666;
    top: -9px;
    bottom: 10px;
    left: -14px;
}